<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Handlebars.java + REST</title>   
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  </head>
  <body class="container">

    <h1>Handlebars demo</h1>

    <iframe class="hide" src="/iframe-cache-hack.html"></iframe>
    <p>
      Server and client side rendering using 
      <a href="http://handlebarsjs.com/">Handlebars.js</a> (client) 
      and <a href="http://jknack.github.io/handlebars.java/">Handlebars.java</a> (server).
    </p>
